name = "ttai-python-worker"
main = "src/main.py"
compatibility_date = "2024-09-02"
compatibility_flags = ["python_workers"]

[dev]
port = 8788
local_protocol = "http"

[vars]
ENVIRONMENT = "development"
