architecture: standalone

auth:
  enabled: true
  password: devpassword

master:
  persistence:
    enabled: true
    size: 1Gi

  resources:
    requests:
      memory: 64Mi
      cpu: 50m
    limits:
      memory: 256Mi
      cpu: 250m
